---
layout: stylesheet
---
// Import dependancies
@import "reset";
@import "variables";
@import "modular-scale";
@import "mixins";
@import "typography";
@import "layouts";

html {
	background: $backgroundColour;
	color: #3D3D3D;
}

.main {
	position: relative;
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
	padding: 5rem 0 7rem;
	min-height: 100vh;
}

.posts,
.postitem {
	list-style: none;
	padding: 0;
	margin: 0;
}

.title a[href*="//"]:not([href*="mysite.com"]):after {
	content:' \27A6';
	opacity: 0.5;
}