
<header class="header">

	<a class="link  link--circle" href="{{ page.url }}" title="{{ page.title }}">

		{% if item.icon %}
			{% assign icon = item.icon %}
		{% else %}
			{% assign icon = "article" %}
		{% endif %}

		{% if page.is_post %}

			<svg class="icon  icon--site  icon--large">
				<use xlink:href="#{{ icon }}" {% if page.colour %}fill="{{ page.colour }}"{% endif %}></use>
			</svg>

		{% else %}

			<img class="avatar" src="{{ site.avatar }}" alt="{{ site.title }}"/>

		{% endif %}

	</a>

	<div class="content  content--header">

		<h1>{{ page.title }}</h1>

		<h2>{{ page.excerpt }}</h2>

	</div>

</header>
