<header class="header">

	<a class="link  link--circle" href="{{ page.url }}" title="{{ page.title }}">

		{% if page.is_post or page.icon %}

			<svg class="icon  icon--site  icon--large" role="img" aria-label="{{ page.title }} icon">
				<title>{{ page.icon }}</title>
				<use xlink:href="#{{ page.icon }}"{% if page.colour %} fill="{{ page.colour }}"{% endif %}></use>
			</svg>

		{% else %}

			<img class="avatar" src="{{ site.logo }}" alt="{{ site.title }}"/>

		{% endif %}

	</a>

	<div class="content  content--header">

		<h1>{{ page.title }}</h1>

		{% if page.is_post %}
			<small class="small">
  				{% assign words = content | number_of_words %}
  				<time datetime="{{ page.date | date_to_xmlschema }}" class="time">{{ page.date | date_to_string }}</time>&nbsp;&nbsp;–&nbsp;&nbsp;<span class="time  time--reading">{{ words | divided_by:180 }} minute read</span>
			</small>
		{% endif %}

	</div>

</header>
