<script type="text/javascript">
  const headings = document.querySelectorAll('.content h2[id], .content h3[id]');
  const linkContent = '<svg class="icon  icon--circle  icon--small"><title>Anchor link</title><use xlink:href="#link"{% if page.colour %} fill="{{ page.colour }}"{% endif %}></use></svg>';
  for (const heading of headings) {
    const linkIcon = document.createElement('a');
    linkIcon.classList.add('link', 'link--circle');
    linkIcon.setAttribute('href', `#${heading.id}`);
    linkIcon.innerHTML = linkContent;
    heading.appendChild(linkIcon);
  }
</script>
