<aside id="subscribe">
  <form class="form" name="subscribe" method="POST" data-netlify="true" action="/thanks/">
    <div>
      <h4><strong>Hey! Do you like the things I write and make?</strong></h4>
      <p>I'm going to be creating newsletters and premium code packages (including themes) for subscribers. Interested? Add your email below to 'subscribe' to keep up to date.</p>
    </div>
    <label for="email-field">Your email</label>
    <input type="email" id="email-field" name="email-field" />
    <button type="submit">Subscribe</button>
    <div>
      <small>
        <em>What's going to happen when I click the button?</em>
        <br/>
        You'll be <strong>instantly subscribed to my newsletter</strong>, powered by Ghost. You can manage and unsubscribe at any time.
      </small>
    </div>
  </form>
</aside>
