// Variables
$color--background: #fcfaf2;
$color--link: #c82a28;
$color--heading: #5d5d5d;
$color--subheading: #9d9d9d;
$color--paragraph: #3d3d3d;
$color--blockquote: #5d5d5d;
$color--keyline: darken($color--background, 10%);
$color--footnote: #adadad;
$width--keyline: 0.5rem;
$border--radius: 3px;

// Globals & resets
html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 2rem;
  color: $color--paragraph;
  @media (max-width: 500px) {
    font-size: 16px;
    line-height: 1.75rem;
  }
}

body {
  min-height: 100%;
  background: $color--background;
}

* {
  box-sizing: border-box;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
  padding: 0;
  font-weight: 400;
  position: relative;
}

h1 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0.45rem;
  color: $color--heading;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-bottom: 0.65rem;
  color: $color--subheading;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  color: $color--footnote;
  font-weight: 300;
}

p,
.video,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

h2[id],
h3[id] {
  .link {
    left: -5.95rem;
    top: -0.6rem;
    @media (max-width: 500px) {
      top: 0;
      left: -4.37rem;
    }
  }
}

a {
  font-weight: inherit;
  color: $color--link;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
  background: linear-gradient(
      transparent 0%,
      transparent 96%,
      fade-out($color--background, 0.2) 96%,
      fade-out($color--background, 0.2) 100%
    ),
    linear-gradient(
      transparent 0%,
      transparent 96%,
      currentColor 96%,
      currentColor 99.9%,
      transparent 100%
    );
  &:hover {
    background: linear-gradient(
      transparent 0%,
      transparent 96%,
      currentColor 96%,
      currentColor 99.9%,
      transparent 100%
    );
  }
}

small {
  font-size: 0.85rem;
  font-weight: 400;
  color: $color--footnote;
}

blockquote,
code,
.content--main img,
form {
  background: lighten($color--background, 10%);
  border-radius: $border--radius;
  border-color: $color--keyline;
  border-style: solid;
  border-width: 0;
}

code,
.content--main img {
  border-width: 1px;
}

blockquote,
form {
  position: relative;
  margin: 0;
  padding: 0.6rem 1.8rem 0.6rem 0.8rem;
  line-height: 1.6rem;
  color: $color--blockquote;
  border-left-width: $width--keyline;
  margin-bottom: 1.4rem;
  &::after {
    color: darken($color--keyline, 5%);
    content: "\201D";
    font-size: 2em;
    position: absolute;
    top: 1rem;
    right: 0.8rem;
  }
  p {
    margin: 0;
  }
}

.content--main .emoji {
  border: none;
  background: none;
}

code {
  font-size: 0.9rem;
  line-height: 1.3rem;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  padding: 0 0.3rem;
}

del > code {
  text-decoration: line-through;
}

pre > code {
  overflow-x: scroll;
  padding: 0.3rem 0.6rem;
  width: 100%;
}

::selection {
  background: $color--paragraph;
  color: lighten($color--background, 10%);
}

// Graphics
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.avatar {
  width: 4.5rem;
  height: 4.5rem;
  @media (max-width: 500px) {
    width: 3.5rem;
    height: 3.5rem;
  }
}

// Container
.container {
  position: relative;
  display: block;
  width: 90%;
  max-width: 660px;
  margin: 0 auto;
  padding: 7rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  @media (max-width: 500px) {
    padding: 2.5rem 0 1.5rem;
  }
  &:before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 2.75rem;
    height: 100%;
    border-left: $width--keyline solid $color--keyline;
    animation: keyline 0.6s ease;
    @media (max-width: 500px) {
      left: 2rem;
    }
  }
  &::after {
    position: fixed;
    left: 0;
    width: 100%;
    border: none;
    animation: none;
    background: linear-gradient(
      to top,
      rgba($color--background, 1) 0%,
      rgba($color--background, 0) 5%,
      rgba($color--background, 0) 95%,
      rgba($color--background, 1) 100%
    );
    @media (max-width: 500px) {
      position: absolute;
      background: linear-gradient(
        to top,
        rgba($color--background, 1) 0%,
        rgba($color--background, 0) 1%,
        rgba($color--background, 0) 99%,
        rgba($color--background, 1) 100%
      );
    }
  }
}

@keyframes keyline {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

// Header & Contact
.header {
  position: relative;
}

// Content
.content {
  display: block;
  margin-left: 7rem;
  @media (max-width: 500px) {
    margin-left: 5.2rem;
  }
  &--header {
    padding-top: 0.5rem;
  }
  &--main {
    margin-bottom: 5rem;
  }
  &--footer {
    margin-top: 6.5rem;
  }
  &--post {
    margin-bottom: 3rem;
    padding-top: 0.35rem;
  }
  &--aside {
    color: $color--footnote;
  }
}

// Embeds
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Icons
.icon {
  fill: $color--link;
  &--network {
    width: 1.25rem;
    height: 1.25rem;
  }
  &--post {
    width: 2rem;
    height: 2rem;
    margin: 0.7rem;
    @media (max-width: 500px) {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.5rem;
    }
  }
  &--large {
    margin: 1.05rem;
    width: 2.4rem;
    height: 2.45rem;
    @media (max-width: 500px) {
      margin: 0.75rem;
      width: 2rem;
      height: 2rem;
    }
  }
  &--small {
    width: 1rem;
    height: 1rem;
    margin: 0.7rem;
    @media (max-width: 500px) {
      width: 0.8rem;
      height: 0.8rem;
      margin: 0.5rem;
    }
  }
}

// Lists
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  &--posts {
    flex: 1 0 auto;
  }

  // Opacity hover transition
  .content,
  .icon {
    transition: 0.2s;
  }
  &--posts,
  &--networks {
    pointer-events: none;
    &:hover .content,
    &:hover .icon {
      opacity: 0.5;
    }
    .item {
      pointer-events: auto;
      &:hover .content,
      &:hover .icon {
        opacity: 1;
      }
    }
  }
}

// Items
.item {
  position: relative;
  &--network {
    display: inline-block;
    margin-right: 0.6rem;
  }
  &:hover .link--circle {
    transform: scale(1.15);
  }
}

.pagination {
  margin: 0 1.4rem 0 0;
}

// Links
.link {
  display: inline-block;
  line-height: 0;
  background: none;
  &--circle {
    position: absolute;
    @media \0screen {
      display: none;
    } // For those IE8 fans out there
    top: 0;
    left: 0;
    border: $width--keyline solid $color--keyline;
    background: lighten($color--background, 10%);
    box-shadow: 0 0 0.4rem 0.25rem $color--background;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 0.25rem 0.25rem;
    animation: circle 1s ease;
    transition: 0.2s;
    @media (max-width: 500px) {
      margin: 0;
    }
  }
  &:hover {
    background: none;
  }
  &--circle:hover {
    background: lighten($color--background, 10%);
  }
  .icon--small {
    opacity: 0.65;
    transition: 0.2s;
  }
  &:hover .icon--small {
    opacity: 1;
  }
  &--post {
    margin: 0 0.8rem 0.8rem;
    @media (max-width: 500px) {
      margin: 0.35rem 0.5rem 0.5rem;
    }
  }
  &::after {
    display: none;
  }
}

@keyframes circle {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }
  25% {
    opacity: 0;
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// Code highlighting
div.highlighter-rouge {
  margin-left: -7rem;
  @media (max-width: 500px) {
    margin-left: -5.2rem;
  }
}

// Forms
input,
button {
  padding: .6em 1em;
  font-family: inherit;
  font-size: inherit;
  color: $color--paragraph;
  background: white;
  outline: $color--link;
  border: 1px solid darken($color--keyline, 15%);
  border-radius: $border--radius;
  transition: 0.2s;
  margin-bottom: .5em;
}

button {
  cursor: pointer;
  color: $color--link;
  border-color: fade-out($color--link, 0.7);
}

button,
input {
  &:hover,
  &:focus {
    border-color: $color--link;
  }
}

button:active {
  transform: scale(0.98);
}

form,
form.content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1em;
  border: 1px solid $color--keyline;
  padding: 1.4rem 2.6rem 1.5rem 1.3rem;
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
  &::after {
    top: 1.4rem;
    right: 1.3rem;
    content: "\2709";
  }
}

label,
label + input {
  grid-column-start: 1;
}

form div {
  grid-column: 1 / -1;
}

form p {
  margin-bottom: 1.2rem;
}

form small {
  color: darken($color--footnote, 10%);
}

#subscribe {
  padding: 2rem 0;
}

@import "syntax";
