<!DOCTYPE html>
<head>
	<title>{{ site.title }}</title>
</head>
<body>

	<main class="main" role="main">

			{% if site.posts %}
				<ul class="list  list--unstyled">

					{% for post in site.posts %}

						{% if post.link %}
							{% assign link = post.link %}
						{% else %}
							{% assign link = post.url %}
						{% endif %}

						<li class="item">
							<article class="article">

								<header class="header  header--article">
									<h2 class="title">
										<a href="{{ link }}" title="{{ post.title }}">
											{{ post.title }}
										</a>
									</h2>
									<p class="excerpt">{{ post.excerpt }}</p>
								</header>

							</article>
						</li>
					{% endfor %}

				</ul>
			{% endif %}

	</main>

</body>
