<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<!-- General meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{% if page.indexing == false %}
			<meta name="robots" content="noindex">
		{% endif %}
		
		{% if page.title contains site.title %}
			<title>{{ page.title }} - {{ page.excerpt }}</title>
			{% seo title=false %}
		{% else %}
			{% seo %}
		{% endif %}

		<link href='//fonts.googleapis.com/css?family=Source+Serif+Pro:400,600' rel='stylesheet' type='text/css'>
		<link href="/css/styles.css" media="all" rel="stylesheet">
		{% if page.is_post %}
			<link rel="amphtml" href="http://mercury.postlight.com/amp?url={{ site.url }}{{ page.url }}">
		{% endif %}

		{% include favicons.html %}
	</head>
	<body>
		{% include icons.svg %}

		{{ content }}

	</body>
</html>
