---
layout: default
---
<div class="container">

	<article class="article">

	{% include header.html %}

		<main class="content  content--main">

			{% if post.colour %}
				<style scoped>.content--main a { color: {{ post.colour }}; border-color: {{ post.colour }}; }</style>
			{% endif %}
			
			{{ content }}

		</main>

	</article>

	{% include related.html %}

	<aside class="content  content--aside">

		<p><a href="/">&larr; Back to blog</a></p>

	</aside>

	{% include footer.html %}

</div>
